<table id="demo-foo-filtering" data-toggle="table"
       data-page-size="10"
       data-pagination="true" class="table-bordered ">
    <thead>
    <tr>
        <th data-checkbox="true"></th>
        <th data-switchable="false">房屋标题</th>
        <th data-switchable="false">小区名称</th>
        <th>房屋图片</th>
        <th>发布者姓名</th>
        <th>户型</th>
        <th>楼层</th>
        <th>面积</th>
        <th>朝向</th>
        <th>装修</th>
        <th>方式</th>
        <th>房屋配置</th>
        <th>地址</th>
        <th>房屋描述</th>
        <th>审核状态</th>
        <th>是否上架</th>
        <th>添加时间</th>
        <th style="width:100px;">操作</th>
    </tr>
    </thead>

    <tbody>
    {volist name="list" id="vo"}
    <tr>
        <td></td>
        <td><span title="{$vo.title}">{$vo.title| subtext=5}</span></td>
        <td>{$vo.name}</td>
        {empty name="$vo.house_img[0]['filename']"}
        <td><img src="" alt=""></td>
        {else/}
        <td><img class="houseImg"  style="width:50px;height:50px" src="/upload/{$vo.house_img[0]['filename']}" alt="" data-id="{$vo.id}" data-toggle="modal" data-target="#houseImgModal"></td>
        {/empty}
        <td>{$vo.username}</td>
        <td>{$vo.type1}室{$vo.type2}厅{$vo.type3}卫</td>
        <td>{$vo.floor}(共{$vo.floor_count}层)</td>
        <td>{$vo.acreage}m² </td>
        <td>{$vo.direction}</td>
        <td>
            {if condition="$vo.decoration eq 1"}
            精装修
            {elseif condition="$vo.decoration eq 2"/}
            普通装修
            {elseif condition="$vo.decoration eq 3"/}
            毛坯房
            {/if}
        </td>
        <td>
            {if condition="$vo.way eq 1"}
            整租
            {elseif condition="$vo.way eq 2"/}
            合租
            {/if}
        </td>
        <td><a href="javascript:void(0)" title="{$vo.config}" class="houseConfig" data-toggle="modal" data-target="#houseConfigModal">{$vo.config | subtext=5 }</a></td>
        <td><a href="javascript:void(0)" title="{$vo.address}" class="houseAddress" data-toggle="modal" data-target="#houseAddressModal">{$vo.address | subtext=5 }</a></td>
        <td><a href="javascript:void(0)" title="{$vo.desc}" class="houseDesc" data-toggle="modal" data-target="#houseDescModal">{$vo.desc | subtext=5}</a></td>
        <td>
            {if condition="$vo.status eq 0"}
            待审核
            {elseif condition="$vo.status eq 1"}
            已通过
            {elseif condition="$vo.status eq 2"}
            未通过
            {/if}
        </td>
        <td>
            {if condition="$vo.status eq 0"}
            下架
            {elseif condition="$vo.status eq 1"}
            上架
            {/if}
        </td>
        <td>{$vo.add_time|date='Y-m-d',###}</td>
        <td style="width:100px;">
            <div class="btn-group">
                <a class="btn btn-primary " href="javascript:void(0);">操作</a>
                <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);"><i class="fa fa-angle-down"></i></a>
                <ul class="dropdown-menu dropdown-info">
                    <li>
                        <a href="javascript:void(0);" class="delete" data-id="{$vo['id']}">刪除</a>
                    </li>
                    <li>
                        <a  href="/admin/house/set?id={$vo.id}" data-loader="true" data-title="房屋设置">编辑</a>
                    </li>
                    {if condition="$vo.status==1"}
                    {if condition="$vo.on_sale eq 0"}
                    <li>
                        <a href="javascript:void(0);" class="on-sale" data-sale="1" data-id="{$vo.id}">上架</a>
                    </li>
                    {elseif condition="$vo.on_sale eq 1"}
                    <li>
                        <a href="javascript:void(0);" class="on-sale" data-sale="0" data-id="{$vo.id}">下架</a>
                    </li>
                    {/if}
                    {/if}
                </ul>
            </div>
        </td>
    </tr>
    {/volist}
    </tbody>
</table>