<table id="demo-foo-filtering" data-toggle="table"
       data-page-size="10"
       data-pagination="true" class="table-bordered ">
    <thead>
    <tr>
        <th data-checkbox="true"></th>
        <th data-switchable="false">管理员名称</th>
        <th>头像</th>
        <th>电话</th>
        <th>email</th>
        <th>添加时间</th>
        <th class="text-center">操作</th>
    </tr>
    </thead>

    <tbody>
    {volist name="list" id="vo"}
    <tr>
        <td></td>
        <td>{$vo.username}</td>
        <td><img src="/upload/{$vo.user_img}" alt="" style="width:50px;height:50px;"></td>
        <td>{$vo.tel}</td>
        <td>{$vo.email}</td>
        <td>{$vo.add_time|date='Y-m-d',###}</td>
        <td>
            {if condition="$admin_id eq $vo.id"}
            {else/}
            <button type="button" class="btn btn-danger waves-effect waves-light delete" data-id="{$vo.id}" style="padding-top:2px !important;padding-bottom:2px !important;">删除</button>
            {/if}
            <a  class="btn btn-info waves-effect waves-light m-l-10"  href="/admin/admin/set?id={$vo.id}" data-loader="true" data-title="权限设置" style="padding-top:2px !important;padding-bottom:2px !important;">编辑</a>
        </td>
    </tr>
    {/volist}
    </tbody>
</table>