<!-- Page-Title -->
<div id="page-title">
    {$breadhtml}
</div>
<!--===================================================-->
<div class="custom-modal-text text-left" style="width:40%;">
    <form role="form" id="form">
        <input type="hidden" value="{$data.id|default=''}" name="id">
        <div class="form-group">
            <label for="username">管理员名称</label>
            <input type="text" class="form-control"  placeholder="请输入管理员名称" name="username"  value="{$data.username|default=''}">
        </div>
        {notempty name="data.id"}
            <div class="form-group">
                <label for="username">管理员密码</label>
                <input type="password" class="form-control"  placeholder="请输入管理员密码" name="password" >
            </div>
            {else/}
        <div class="form-group">
            <label for="username">管理员密码</label>
            <input type="password" class="form-control"  placeholder="请输入管理员密码" name="password" value="{$data.password|default=''}">
        </div>
        {/notempty}
        <div class="form-group">
            <label for="user_img">头像</label>
            <input type="file" class="form-control" id="user_img" name="user_img"  value="{$data.user_img|default=''}">
        </div>

        <div class="form-group">
            <label for="tel">手机号</label>
            <input type="tel" class="form-control" placeholder="请输入名称"  name="tel" value="{$data.tel|default=''}">
        </div>

        <div class="form-group">
            <label for="email">email</label>
            <input type="email" class="form-control" placeholder="请输入email" name="email" value="{$data.email|default=''}">
        </div>

        <button type="submit" class="btn btn-default waves-effect waves-light" id="submit">保存</button>
        <a  class="btn btn-danger waves-effect waves-light m-l-10"  href="/admin/admin/index" data-loader="true" data-title="管理员列表">返回</a>
    </form>
</div>
<!--===================================================-->

<script>
    /*表单提交*/
    $('#submit').click(function(e){
        e.preventDefault();
        var username = $("input[name='username']").val();
        var password = $("input[name='password']").val();
        var tel = $("input[name='tel']").val();
        var email = $("input[name='email']").val();
        var  tel_reg =/^1[3|4|5|6|7|8|9][0-9]{9}$/;
        var email_reg = /^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/;
        var password_reg = /^([A-Z]|[a-z]|[0-9]|[`~!@#$%^&*()+=|{}':;',\\\\[\\\\].<>?~！@#￥%……&*（）——+|{}【】‘；：”“'。，、？]){6,20}/;
        if(username.length<2||username.length>20){
            swal('账号字符在2-20个之间');
            return false;
        }
        if(!password_reg.test(password)){
            swal('密码格式不正确');
            return false;
        }
        if(!tel_reg.test(tel)){
            swal('手机号格式不正确');
            return false;
        }
        if(!email_reg.test(email)){
            swal('邮箱格式不正确');
            return false;
        }
        var data = new FormData(document.getElementById('form'));
       $.ajax({
           url:"/admin/admin/save",
           type:"post",
           data:data,
           dataType:"json",
           contentType: false,
           processData: false,
           success:function(data){
                if(data.status==1){
                    swal({
                        title: "保存成功",
                        type: 'success',
                        confirmButtonText: '确认'
                    },function() {
                        $('#admin').click();
                    });
                }else{
                    swal(data.msg, " ","error");
                }
           },

       });
    });

    function getObjectURL(file) {
        var url = null ;
        if (window.createObjectURL!=undefined) { // basic
            url = window.createObjectURL(file) ;
        } else if (window.URL!=undefined) { // mozilla(firefox)
            url = window.URL.createObjectURL(file) ;
        } else if (window.webkitURL!=undefined) { // webkit or chrome
            url = window.webkitURL.createObjectURL(file) ;
        }
        return url ;
    }

    $('#user_img').change(function() {
        var eImg = $('<img />');
        eImg.attr('src', getObjectURL($(this)[0].files[0])); // 或 this.files[0] this->input
        $(this).after(eImg);});


</script>