<!-- Page-Title -->
<div id="page-title">
    {$breadhtml}
</div>
<!--===================================================-->
<div class="custom-modal-text text-left" style="width:40%;">
    <form role="form" id="form">
        <input type="hidden" value="{$data.id|default=''}" name="id">
        <div class="form-group">
            <label for="type">类型</label>
            <select class="form-control" name="type" id="type" style="width:33%;">
                {empty name="$data.type"}
                <option value="1">中介</option>
                <option value="2">管理员</option>
                {else/}
                    {if condition="$data.type eq 1"}
                    <option value="1" selected>中介</option>
                    <option value="2">管理员</option>
                    {elseif condition="$data.type eq 2"/}
                    <option value="1">中介</option>
                    <option value="2"  selected>管理员</option>
                    {/if}
                {/empty}

            </select>
        </div>

        <div class="form-group">
            <label for="controller">控制器</label>
            <input type="text" class="form-control" id="controller" placeholder="请输入控制器" name="controller" required value="{$data.controller|default=''}">
        </div>

        <div class="form-group">
            <label for="name">名称</label>
            <input type="text" class="form-control" id="name" placeholder="请输入名称" required name="name" value="{$data.name|default=''}">
        </div>

        <div class="form-group">
            <label for="summary">描述</label>
            <input type="text" class="form-control" id="summary" placeholder="请输入描述内容" name="summary" value="{$data.summary|default=''}">
        </div>

        <button type="submit" class="btn btn-default waves-effect waves-light" id="submit">保存</button>
        <a  class="btn btn-danger waves-effect waves-light m-l-10"  href="/admin/admin_oath/index" data-loader="true" data-title="权限列表">返回</a>
    </form>
</div>
<!--===================================================-->
<script>
    /*表单提交*/
    $('#submit').click(function(e){
        e.preventDefault();
       $.ajax({
           url:"/admin/admin_oath/save",
           type:"post",
           data:$('#form').serialize(),
           dataType:"json",
           success:function(data){
                if(data.status==1){
                    swal({
                        title: "保存成功",
                        type: 'success',
                        confirmButtonText: '确认'
                    },function() {
                        $('#admin_oath').click();
                    });
                }else{
                    swal(data.msg, " ","error");
                }
           },

       });
    });
</script>